body {
    background-color: #087238;
    color: white;
    font-family: sans-serif;
}

header {
    text-align: center;
    background-color: #002900;
    font-size: 30px;
    position: relative;
    padding: 30px;
    left: -8px;
    top: -8px;
    width: 97.65%;
}

.Head1, .Head2, .Head3 {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.MainDiv {
    display: flex;
}

h1 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
    width: 830px;
}

.IMG1 {
    margin-left: 350px; 
    box-shadow: 4px 4px 8px #002900;
    border-radius: 10px;   
}

.TextDiv {
    margin-left: 150px;
}

.MainDiv {
    margin-top: 120px;
}

button {
    background-color: #002900;
    margin-left: 18%;
    padding: 30px;
    font-size: 40px;
    color: white;
    border-radius: 90px;
    margin-top: 90px;
    width: 50%;
    border: none;
}

.Warning {
    font-size: 30px;
    display: none;
}

p {
    font-size: 25px;
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
}

.InstaLogo {
    width: 40px;
    position: relative;
    top: 9px;
    left: 100px;
}